# Configuración del servidor de correo
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=arthurandres30@gmail.com
EMAIL_PASS=tu-contraseña-de-aplicacion
EMAIL_FROM=arthurandres30@gmail.com
EMAIL_TO=arthurandres30@gmail.com

# Puerto del servidor
PORT=3000

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:8000